<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello world!</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <h1 class="from-template">Projeto de internacionalização</h1>

    <h2 id="to-be-filled-by-js"></h2>
    <button id="to-fill-subtitle" onclick="fill_subtitle()">Renderize algo com JS!</button>

    <p class="from-template">renderizado no template</p>
    <p class="from-js" id="js-filled"></p>

    <script src="../static/js/main.js"></script>
</body>
</html>